:root {
  --primary-bg: rgb(54,59,55);
  --primary-text: rgb(229, 192, 158);
  --secondary-text: rgb(255,255,255);
  --accent-light: rgb(254, 92, 74);
  --accent-dark: rgb(186,104, 82);
}

hr {
  border: 0.5px solid var(--accent-dark);
}

html {
  background-color: var(--primary-bg);
  font-family: 'IBM Plex Mono';
  /* font-family: sans-serif; */
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;

  color: var(--primary-text);
}

a {
  color: var(--accent-dark);
}

strong {
  color: var(--accent-dark);
}

h1, h2, h3, h4 {
  color: var(--accent-light)
}