---
const platform = "github";
const username = "withastro";
---

<style>
  footer {
    gap: 1rem;
    margin-top: 2rem;
  }

  .flex {
    display: "flex";
  }
</style>

<hr />
<footer>
  <div>
    <span>Find a typo? </span>
    <a href="https://github.com/Aedalus/blog">Open a Pull Request</a>
    <span> here!</span>
  </div>
  <div style="display: flex">
    <p>© {new Date().getFullYear()} Alex Higgins | All rights reserved.</p>
  </div>
</footer>
