---
const platform = "github";
const username = "withastro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<hr />
<footer style="width: 100%;">
  <p>Copyright © 2024 | All rights reserved.</p>
  <div style="flex: 1"/>
  <p>ToDo - GH Links</p>
</footer>
